[color]
	ui = true
[user]
	name = Matt Massicotte
	email = 85322+mattmassicotte@users.noreply.github.com
	signingkey = CC209CE203F23602
[push]
	default = upstream
[core]
	ignorecase = false
	editor = mate -w
	excludesfile = /Users/matt/.gitignore_global
	attributesfile = /Users/matt/.gitattributes

[pull]
	rebase = true
