[color]
	ui = true
[user]
	name = Matt Massicotte
	email = mmassicotte@twitter.com
[push]
	default = upstream
[core]
	ignorecase = false
	editor = mate -w
	excludesfile = /Users/matt/.gitignore_global
	attributesfile = /Users/matt/.gitattributes

